pip 
setuptools 
wheel
sphinx
sphinx_bootstrap_theme
sphinx_gallery
memory_profiler
numpydoc
coverage
flake8
ipython
Image
matplotlib
pytest
pytest-cov
black
twine
isort
radon
pydocstyle
pylint
python-gitlab
nodejs
